# Byte-compiled Python files
__pycache__/

# Environment and dependency files
.env
.venv/
env/
venv/

# Local IDE files
ai-stock-assistant.code-workspace

# Local IDE settings
.vscode/settings.json

# uv files
.python-version
pyproject.toml
uv.lock

# Local source files
src